<div mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Enter value</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="">
        <mat-label>Emoji</mat-label>
        <mat-select [formControl]="emoji">
          <mat-option *ngFor="let feeling of feelings" value="{{feeling.value}}">{{feeling.value}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="d-flex">
        <div class="d-flex justify-content-center flex-grow-1">
          <button mat-button type="button" (click)="close()">OK</button>
        </div>
        <div class="d-flex justify-content-center flex-grow-1">
          <button mat-button type="button" (click)="cancel()">CANCEL</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>